doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SkillUp Admin
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

  body.min-h-screen.bg-gray-50
    main(class="mx-auto container mt-10 px-2")
      include ../partials/logo
      br
      block contenido
        .mb-5
          h1.text-center.text-4xl.font-bold.mb-5 Admin Dashboard
          include ../partials/_success
        div(class="md:w-1/2   mx-auto").container.pt-2
          //- Section 1: Filters
          div#filter-section(class="mb-2 pt-2 w-full flex justify-center space-x-8")
            select#filter-company-student(class="py-2 px-2 rounded-lg border-4 border-green-500")
              option(value="company") Companies
              option(value="student") Students

          script(src="/js/admin/dashboardAdmin-script.js")

          div.bg-blue  
              ul#companies-list
                  each company in companies
                      li(id=`company-${company.id}` class="border rounded  m-7 p-3")
                          div 
                              h1.px-2= company.name
                              h2.px-2 RFC:  #{company.rfc}
                          div(class="flex justify-evenly ")
                            form#delete-offer.py-2(method='POST' action=`/admin/verify/${company.id}/` )
                              input.px-5.bg-green-500.text-white.uppercase.font-bold.py-3.cursor-pointer.rounded-md(type='submit' value='Verify' class='hover:bg-green-700')
                            //-button.bg-green-500.text-white.py-2.px-4.rounded-md(type="button" class="verify mx-4" data-company-id=company.id) Verify
                            form#delete-offer.py-2(method='POST' action=`/admin/decline/${company.id}/`)
                              input.px-5.bg-red-500.text-white.uppercase.font-bold.py-3.cursor-pointer.rounded-md(type='submit' value='Decline' class='hover:bg-red-700')

                         
              ul#students-list
                  each student in students
                      li
                          span.px-2=student.fullName 