extends ../layout/index

block contenido                    
    p.uppercase.font-bold.mt-3 Skill Up and go to the next level 
    h2.mt-5.text-2xl For 
        span.font-extrabold #{type}
    .py-10 
        h2.text-center.text-4xl.font-extrabold.text-green-500.mt-0.mb-5= pagina
       
        include ../partials/_error
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                
                form(action=`/${type}/login` method="POST").space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") #{type}  Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your Email" type="email" name="email") 
                    div 
                        
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password")  #{type} Password
                        
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your Password" type="password" name="password")
                    .flex.items-center.justify-between 
                        
                        a.text-gray-500.text-xs(href=`/${type}/signup`) New to SkillUp? SignUp
                        a.text-gray-500.text-xs(href=`/${type}/forgot-password`) Forgotten Password?

                           
                    input(type="submit" value="LogIn" class="w-full bg-green-500 text-white uppercase hover:bg-green-700 font-bold py-3 cursor-pointer rounded-md")