extends ../layout/indexInStudents

block contenido
    //-.container
      h1 Student Profile

      .profile-info
        img.profile-image(src=student.profileImage, alt="Profile Image")
        h2= student.fullName
        p Email: #{student.email}
        p Education: #{student.education}
        p Link: 
          a(href=student.link)= student.link

      .cv-section
        h3 Curriculum Vitae
        a.cv-link(href=student.cv, download) Download CV

    h1 Student Profile

    h2 #{student.fullName}

    if student.profileImage
      img(src=student.profileImage , alt="Profile picture", style="width: 150px; height: 150px;")
    else
      p No profile picture has been uploaded.

    h3 Education:
    p #{student.education}

    h3 Curriculum Vitae (CV):
    if student.cv
      a(href=`api/cv/${student.id}` , target="_blank") View CV
    else
      p No CV has been uploaded.

    p
      a(href="/students/edit-profile") Edit profile


