extends ../layout/indexInCompanies
block contenido

    .mb-5
        h1.text-center.text-4xl.font-bold Edit 
            span.font-normal Course


    div#courseForm(style="display: none")
            h2(class="text-center text-2xl font-extrabold text-sky-900 mt-2") Course Form
            .mt-8.mx-auto.max-w-md 
            .bg-white.py-8.px-4.shadow
                form(action=`/companies/update-course/${offer.id}` method="POST")
                    div.pt-5div.pt-5
                        label(for="title" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Tittle:
                        input(type="text" name="title" id="title" placeholder="Tittle" required class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" value=offer ? offer.title : formData.title )
                    div.pt-5  
                        label(for="startDate" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Start Date:
                        input(type="datetime-local" name="startDate" id="startDate" required class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" value=offer.startDate)
                    div.pt-5  
                        label(for="endDate" class="block text-sm uppercase text-gray-500 mb-2 font-bold") End Date:
                        input(type="datetime-local" name="endDate" id="endDate" required class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" value=offer.endDate)
                    div.pt-5  
                        label(for="description" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Description:
                        textarea(name="description" id="description" required placeholder="Description" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" value=offer.description)
                    div.pt-5  
                        label(for="prerequisites" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Prerequisites:
                        input(type="text" placeholder="Prerequisites" name="prerequisites" id="prerequisites" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" value=offer.prerequisites)
                    div.pt-5  
                        label(for="modality" class="block text-x uppercase text-gray-500 mb-2 font-bold") Modality:
                        select#modality(name="modality" class="w-full px-3 py-2 border border-gray-300 rounded-md font-normal ")
                        option(value="presential") Presential
                        option(value="virtual") Virtual
                        option(value="hybrid") Hybrid
                    div.pt-5  
                        label(for="areaId" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Area:
                        select(name="areaId" id="areaId" required class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400")
                            each area in areas
                                option(value=area.id)= area.name
                        
                    div.pt-5
                        input(type="submit" value="Create Course" class="w-full bg-sky-900 text-white uppercase hover:bg-sky-950 font-bold py-3 cursor-pointer rounded-md ") 
