extends ../layout/indexInCompanies
block contenido
    h1.text-center.text-4xl.font-bold Skillers
        div(class="flex justify-center mt-3")
            table
                tr(class="text-3xl font-bold text-blue-500 mx-5.mb-4")
                    th Nombre
                    th Correo
                    th CV
                if skillers 
                    each skiller in skillers 
                        
                        tr(class="text-xl ")
                            td(class="font-bold  px-5 py-5")= skiller.student.fullName
                            td(class="font-normal px-5 py-5")= skiller.student.email
                            if skiller.student.cv
                                td.px-5
                                    button.bg-red-500.rounded-lg
                                        a(href=`/students/api/cv/${skiller.student.id}`, target="_blank" class="font-normal px-5  text-white") View CV             
                            else 
                                td(class="font-normal text-normal") Not cv provided
                            td( ) 
                                form(action=`/companies/send-email/${skiller.student.fullName}/${skiller.student.email}` method="post")
                                    input(type="hidden" name="offerName" value=title)
                                    input.bg-blue-500.text-white.py-2.px-4.rounded-md.font-bold(type="submit" class="verify"  value="Contact" class="hover:bg-blue-700") 